<!DOCTYPE html>
<html lang="en">
    <head th:fragment="head">
        <!-- Meta tag area -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name ="author" content="Mast Group">
        <meta name="description" content="Here goes the webpage description for search engines. Useful for SEO. 
        Example: A basic HTML boilerplate for new projects. This page is created as part of the Course of Business 
        Intelligence Software Development at ITS-ICT Piemonte, into 'HTML, CSS, and JavaScript' subject.">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="robots" content="index, follow">
        <!-- / Meta tag area -->

        <title>Readup</title>

        <!-- Meta OG area -->
        <meta property="og:title" content="HTML Boilerplate - Learn the Basics">
        <meta property="og:description" content="Here goes the description of the webpage. Example: A basic HTML boilerplate for new projects.
        This page is created as part of the Course of Business Intelligence Software Development at ITS-ICT Piemonte, into 'HTML, CSS, and JavaScript' subject.">
        <meta property="og:image" content="https://www.example-page-url.com/image.jpg">
        <meta property="og:url" content="https://www.example-page-url.com">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="MyWebSite">
        <!-- / Meta OG area -->
        
        <!-- Stylesheets area -->
        <!-- <link rel="stylesheet" href="css/reset.css"> Reset CSS for proper cross-browser visualization -->
        <link rel="stylesheet" href="css/style.css"> 

        <!-- Fonts area -->
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"> -->

        <!-- Icons area -->
        <!-- <link rel="icon" href="icons/favicon.ico" type="image/x-icon">   -->

    </head>

    <body>
    <!-- Page contents starts here -->
    
        <!-- Header -->
        <header th:fragment="header">

            <!-- Navbar area-->
            <nav>
                <!-- Navigation items -->
                <ul>
                    <li><a href="#" title="The homepage of the website" hreflang="la" accesskey="H">Domus</a></li>
                    <li><a href="#" title="Author's biography" hreflang="la">Vita</a></li>
                    <li><a href="#" title="Author's important speeches" hreflang="la">Orationes</a></li>
                    <li><a href="#" title="Author's books" hreflang="la">Librii</a></li>
                    <li><a href="#" title="Author's testimonials" hreflang="la">Testimonii</a></li>
                    <li><a href="#" title="Author's contacts" hreflang="en" target="_blank">Domicilium</a></li>
                </ul>
                <!-- Navigation items-->
            </nav>
            <!-- / Navbar area-->

        </header>
        <!-- / Header -->
        
        <hr>
        
        <!-- Main -->
        <main>
            
           
        </main>
        <!-- / Main -->

        <hr>

   
        <!-- Footer -->
        <footer th:fragment="footer">

           

            <!-- Copyright -->
            <h6 lang="en">
                <span>&copy; 2025 ReadUp. Protected by registered trademark.</span>
            </h6>
            <!-- / Copyright -->

        </footer>
        <!-- / Footer -->

    <!-- Contents end here -->

        <!-- Scripts area -->
        <!-- <script src="main/scripts.js"></script>  -->
        <!-- <noscript>To visualise this website properly, please enable Javascript on your browser.</noscript> --> <!-- Message displayed if Javascript is disabled -->
        
    </body>
</html>


