<!DOCTYPE html>
<html lang="it">
    
    <!-- Head -->
    <head th:replace="~{fragments :: head(
        title='Home • Readup', pageCss='/css/pages/index_style.css', 
        extraPageCss='/css/partial/carousel_style.css', 
        mqPageCss='/css/mediaquery/mq_index.css',
        pageJS='/js/index.js')}">
    </head>  
    <!-- / Head -->
  
    <body>
        <!-- Header -->
        <header th:replace="~{fragments :: header}"></header>
        <!-- / Header -->
       
    
        <div th:fragment="content">

            <!-- Main -->
            <main>
                
                <div class="col-12 tagline text-center py-5">
                    <h1 class="primary_title">Benvenuto in ReadUp</h1>
                    <h3 class="secondary_title">Un libro alla volta, un punto alla volta</h3>
                    <h6 class="description">La piattaforma dove ogni libro diventa un’esperienza condivisa.</h6>
                    <h6 class="description">Unisciti a oltre 10.000 lettori: scopri, discuti e incentiva la tua passione per la lettura.</h6>
                </div>    

                <hr>
                
                <div class="container_90">
    
                    <!-- Carousel section -->
                    
                    <section> 

                        <div th:replace="~{fragments :: carousel(${libri})}"></div>

                    </section>
                    <!-- / Carousel section -->
    
                    <!-- Form section-->
                    <section class="registration-form">
                        <div class="registration-text">
                            <h1>Scopri un nuovo modo di leggere</h1>
                            <p>Con ReadUp trasformi ogni pagina in un’esperienza social.</p>
                        </div>

                        <div th:replace="~{fragments :: authForm(${utente}, ${successMessage})}"></div>

                    </section> 
                    <!-- / Registration form section -->
    
                    <!-- Testimonial section -->
                    <section class="col-12 testimonials py-5">
                        <h4 class="text-center secondary-title mb-4">Dicono di noi</h4>
    
                        <div class="container text-center">
                            <div id="sliderContent" class="testimonial-item">
                        
                                <!-- JS render of testimonials + stars -->
                        
                            </div>
                        </div>
                        
                    </section>
                    <!-- / Testimonial section -->
    
                </div>
                
            </main>
            <!-- / Main -->
                
                
        </div>
                           
        
        <!-- Footer -->
        <footer th:replace="~{fragments :: footer}"></footer>
        <!-- / Footer -->

    </body>

     
</html>



