<!DOCTYPE html>
<html lang="it">
    
    <!-- Head -->
    <head th:replace="~{fragments :: head(
        title='Profilo • Readup', pageCss='/css/pages/profilo_style.css', 
        extraPageCss=${null}, 
        pageJS=${null})}">
    </head>  
    <!-- / Head -->
  
    <body>
        <!-- Header -->
        <header th:replace="~{fragments :: header}"></header>
        <!-- / Header -->

        <div th:fragment="content">

            <!-- Main -->
            <main>
               <div class="section-spacing">
                    <div class="profile-photo-wrapper">
                        
                        <!-- Card foto profilo -->
                        <div class="profile-photo-card">
                            <img th:src="@{/profile/image/{id}(id=${userId})}" class="profile-photo" alt="Foto profilo">
                            <form th:action="@{/profile/upload}" method="post" enctype="multipart/form-data">
                                <label for="imageUpload" class="upload-btn">Cambia immagine</label>
                                <input id="imageUpload" type="file" name="image" accept="image/*" onchange="this.form.submit()" />
                            </form>
                            <h5>Dati utente</h5>
                            <p th:if="${currentUser != null}">Nickname: <span th:text="${currentUser.nickname}"></span></p>
                            <p th:if="${currentUser == null}">Dati utente non disponibili.</p>
                        </div>

                        <!-- Column with 2 cards -->
                        <div class="profile-description-column">
                            <!--Card 1-->
                            <div class="profile-section-card">
                                <h5>Libreria</h5>
                            </div>
                            <!--Card 2-->
                            <div class="profile-section-card">
                                <h5>Booklist</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </main>
            <!-- / Main -->

        </div>
        
        <!-- Footer -->
        <footer th:replace="~{fragments :: footer}"></footer>
        <!-- / Footer -->

    </body>

</html>