<!DOCTYPE html>
<html lang="it">
    
    <!-- Head -->
    <head th:replace="~{fragments :: head(
        title='Sfide • Readup', pageCss='/css/pages/sfide_style.css', 
        extraPageCss=${null}, 
        pageJS=${null})}">
    </head>  
    <!-- / Head -->
  
    <body>
        <!-- Header -->
        <header th:replace="~{fragments :: header}"></header>
        <!-- / Header -->

        <div th:fragment="content">

            <!-- Main -->
            <main>
            </main>
            <!-- / Main -->

        </div>
        
        <!-- Footer -->
        <footer th:replace="~{fragments :: footer}"></footer>
        <!-- / Footer -->

    </body>

</html>